[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bandsfdp"]
	path = bandsfdp
	url = https://github.com/uni-arya/bandsfdp
[submodule "stepdownfdp"]
	path = stepdownfdp
	url = https://github.com/uni-arya/stepdownfdp
